<div id="form-container" class="container">
    <form>
        <div id="x-value" class="field">
            X:
            <div class="checkbox-block">
                <label>
                    -3 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-3" [(ngModel)]="xValues[0]" (change)="xChanged(-3)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    -2 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-2" [(ngModel)]="xValues[1]" (change)="xChanged(-2)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    -1 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-1" [(ngModel)]="xValues[2]" (change)="xChanged(-1)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    0 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="0" [(ngModel)]="xValues[3]" (change)="xChanged(0)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    1 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="1" [(ngModel)]="xValues[4]" (change)="xChanged(1)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    2 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="2" [(ngModel)]="xValues[5]" (change)="xChanged(2)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    3 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="3" [(ngModel)]="xValues[6]" (change)="xChanged(3)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    4 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="4" [(ngModel)]="xValues[7]" (change)="xChanged(4)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    5 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="5" [(ngModel)]="xValues[8]" (change)="xChanged(5)">
                </label>
            </div>
        </div>
        <div id="y-value" class="field">
            Y:
            <label>
                <input [ngModelOptions]="{standalone: true}" id="y-input" type="text" maxlength="8" autocomplete="false" class="text-field" [(ngModel)]="yValueStr" (change)="checkY()">
            </label>
        </div>
        <div id="x-value" class="field">
            R:
            <div class="checkbox-block">
                <label>
                    -3 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-3" [(ngModel)]="rValues[0]" (change)="rChanged(-3)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    -2 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-2" [(ngModel)]="rValues[1]" (change)="rChanged(-2)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    -1 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="-1" [(ngModel)]="rValues[2]" (change)="rChanged(-1)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    0 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="0" [(ngModel)]="rValues[3]" (change)="rChanged(0)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    1 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="1" [(ngModel)]="rValues[4]" (change)="rChanged(1)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    2 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="2" [(ngModel)]="rValues[5]" (change)="rChanged(2)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    3 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="3" [(ngModel)]="rValues[6]" (change)="rChanged(3)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    4 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="4" [(ngModel)]="rValues[7]" (change)="rChanged(4)">
                </label>
            </div>
            <div class="checkbox-block">
                <label>
                    5 <br>
                    <input [ngModelOptions]="{standalone: true}" class="checkbox" type="checkbox" value="5" [(ngModel)]="rValues[8]" (change)="rChanged(5)">
                </label>
            </div>
        </div>
        <div id="buttons">
            <button id="submit-button" (click)="submitShot()">FIRE!</button>
            <button id="clear-button" (click)="clearResults()">Очистить</button>
        </div>
    </form>
    <br>
    <div id="error-display">{{errors}}</div>
</div>
